/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    width: 50%;
    float: left;
}
#panel {
    width: 50%;
    height: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    float: left;
    background-color: rgb(17,16,22);
    color: white;
    font-family: Baloo Bhai;
}
h1 {
    font-family: Baloo Bhai;
}
#btn_get_bike_loc {
    text-transform: none;
    font-weight: 700;
    background-color: white;
    margin: 10px 0px;
}
span {
    font-size: large;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}