/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    width: 50%;
    float: left;
}

#panel {
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    background-color: cadetblue;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}