/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    width: 70%;
    float: left;
}
#panel {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    float: left;
    background-color: rgb(17,16,22);
    color: white;
    font-family: Baloo Bhai;
}
#header {
    padding: 10px 0px 0px 40px;
    background-color: white;
    color: black;
    height: 80px;
}
#content {
    padding: 30px 40px;
}
h1 {
    font-family: Baloo Bhai;
    margin: 0px;
    padding: 0px;
}
#btn_get_bike_loc {
    text-transform: none;
    font-weight: 700;
    background-color: white;
    margin: 10px 0px;
}
span {
    font-size: large;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#weather {
    padding-top: 60%;
    padding-right: 0%;
    padding-left: 3%;
    padding-bottom : 0%;
}
#weather img{
    width: 15%;
    height: 15%;
    margin : 0%;
}

#lock {
    padding-top: 5%;
    padding-right: 0%;
    padding-left: 3%;
    padding-bottom : 0%;
}
#lock img{
    width: 15%;
    height: 15%;
    margin: 0%;
}